*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
   }
   .body{
    overflow: hidden;
    color: #BCB8B1;
    background: #463F3A;
   }
   .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #463F3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   }
   .logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
   }
   .navbar a{
    font-size: 18px;
    color: #F4F3EE;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
   }
   
   .navbar a:hover,
   .navbar a.active{
    color: #E0AFA0;
   }
   
   .main{
    min-height: 100vh;
    background-color: #BCB8B1;
    pointer-events: auto;
    transition: 0.3s ease;
   }
   .main.active{
    filter: blur(15px);
    pointer-events: none;
   }
   .container{
    display: flex;
    height: 100vh; 
    width: 200%;
   }
   .home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .homecontent{
    max-width: 600px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
   }
   .homecontent h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
   
   }
   .homecontent p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
   
   }
   
   .homecontent .startbtn{
    width: 190px;
    height: 55px;
    background-color: #F4F3EE;
    border: 2px solid #463F3A;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
   }
   
   .homecontent .startbtn:hover{
    background: #aa928b ;
   }
   
   .popupinfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background-color: #463F3A;
    padding: 10px 25px;
    border-radius: 6px;
    color:#fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
   }
   .popupinfo.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
   }
   
   
   .popupinfo h2{
    font-size: 50px;
   }
   
   .popupinfo .info{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0px;
   
   }
   .popupinfo .btn_group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid ;
    margin-top: 10px;
    padding: 15px 0px 7px;
   }
   .popupinfo .btn_group .infobtn{
    width: 130px;
    height: 45px;
    border: 2px solid #aa928b;
    background-color:#F4F3EE;
    text-decoration: none;
    font-size: 16px;
    color:#463F3A;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
   
   }
   .popupinfo .btn_group .infobtn:nth-child(1){
    background: transparent;
    color: #fff;
   }
   .popupinfo .btn_group .infobtn:nth-child(1):hover{
    background: #c6b0aa ;
   }
   .popupinfo .btn_group .infobtn:nth-child(2):hover{
    background: #a88a81 ;
   }
   .quizsect{
    width: 100%;
    background: #8e887e;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50%; 
    /* left: 0; */
    transition: .8s ease-in-out;
    transition-delay: 0.25s;
    
   }
   .quizsect.active{
    left:0;
   }
   .quizsect .quizbox{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #463F3A;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: .3s ease;
    transition-delay: 0s;
   }
   .quizsect .quizbox.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
   }
   
   .quizbox h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg,transparent, #6f644c, transparent);
    border-radius: 6px;
   }
   .quizbox .quizheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #6f644c;
    margin-bottom: 30px;
   }
   .quizheader span {
    font-size: 18px;
    font-weight: 550;
   }
   .quizheader .header_score{
    background: #736d60;
    border-radius: 3px;
    padding: 7px;
   }
   .quizbox .question_text{
    font-size: 24px;
    font-weight: 600;
   }
   .optionlist .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #6f644c;
    font-size: 17px;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
   }
   .optionlist .option:hover{
    background: #80796a;
    border-color: #463F3A;
   }
   
   .optionlist .option.correct{
    background: #776f62;
    color: rgb(3, 247, 3);
    border-color: rgb(4, 178, 4);
   }
   .optionlist .option.incorrect{
    background: #776f62;
    color: rgb(202, 44, 44);
    border-color: rgb(149, 3, 3);
   }
   .optionlist .option.disable{
    pointer-events: none;
   }
   
   
   .quizbox .quizfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #6f644c;
    padding-top: 20px;
    margin-top: 25px;
   }
   .quizfooter .questiontotal{
    font-size: 16px;
    font-weight: 600;
   }
   .quizfooter .nxtbtn{
    width: 100px;
    height: 45px;
    background: #80796a;
    border: 2px solid #463F3A;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    pointer-events: none;
   }
   
   .quizfooter .nxtbtn.active{
    pointer-events: auto;
    background: #80796a;
    border: 2px solid #463F3A;
   }
   .quizfooter .nxtbtn.active:hover{
    background: #686153 ;
    color: #BCB8B1;
    border-color: #aca8a1;
   }
   
   .quizsect .resultbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0.9);
    width: 500px;
    background: transparent;
    border: 2px solid #463F3A;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
   }
   .quizsect .resultbox.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% , -50%) scale(1);
   }
   
   .resultbox h2{
    font-size: 52px;
   }
   .resultbox .percentagecont{
    width: 300px;
    /* background: seagreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
   }
   .percentagecont .circularprog{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#48423d 3.6deg, rgba(255,255,255,0.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
   
   .percentagecont .circularprog::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #8e887e;
    border-radius: 50%;
   
   }
   
   
   .circularprog .progvalue{
    position: relative;
    font-size: 45px;
    font-weight: 600;
   }
   .percentagecont .scoretext{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
   }
   .resultbox .buttons{
    display: flex;
   }
   .buttons button{
    width: 130px;
    height: 47px;
    background: #80796a;
    border: 2px solid #463F3A;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: 0.5s;
   }
   .buttons button:nth-child(1):hover{
    background: #6f695b;
   }
   .buttons button:nth-child(2){
    background: transparent;
   }
   .buttons button:nth-child(2):hover{
    background: #6f695b;
   }